.mui-icon-search,.mui-icon-home{color: white;font-weight: 600;}
.mui-bar-nav.mui-bar .mui-icon-home{margin-right: 5px;}
#cityName{color: white;font-family: "microsoft yahei";}
/*.mui-bar-nav {top: 50px;}
.mui-content {background: white;margin-top: 44px;}*/
/*选择城市旁边的下拉箭头*/
#arrow-down{
	height: 10px; width: 10px;
	background-color: inherit;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	border-top: none;
	border-left: none;
	transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
}