/*电影照片*/
.mui-table-view .movie-img{height: 90px; line-height:1; max-width: 70px;}
/*电影名称*/
.mui-table-view-cell .mui-media-body{color: black; margin-top: 10px;position: relative;}
/*电影上映信息,一句短评*/
.movie-second{color: #444444;}
.showInfo{margin-top: 5px;}
.scm{margin-top: 10px;}
/*item边距*/
.mui-table-view .mui-media {padding-top: 10px; padding-left: 10px;}
/*item分割线*/
.mui-table-view-cell:after {left: 0;}
/*item右边距*/
.mui-table-view-chevron .mui-table-view-cell {padding-right: 35px;}
/*电影评分*/
.score{color: #FF9A01;position: absolute;right: 0;}
/*购票按钮*/
.mui-media-body .mui-btn{position: absolute;right: 0;bottom: 3px;padding: 3px 8px;}
/*下拉刷新箭头*/
